<div class="relative w-full" [@swipeAnimation]="animationState" (@swipeAnimation.done)="onAnimationDone($event)">

    <!-- 1. Background Layer (Delete Action) -->
    <div class="absolute inset-1 bg-red-500 rounded-xl flex items-center justify-end pr-6">
        <lucide-icon [name]="trashIcon" size="24" class="text-white"></lucide-icon>
    </div>

    <div cdkDrag cdkDragLockAxis="x" [cdkDragDisabled]="!isDragDisabled" (cdkDragEnded)="onDragEnd($event)"
        [cdkDragFreeDragPosition]="dragPosition"
        class="relative bg-white hover:bg-gray-50 shadow-sm hover:shadow-md rounded-xl p-3 w-full transition-all duration-200 border border-gray-100 ">


        <div class="flex items-center justify-between">

            <!-- Left: Avatar + Main Info -->
            <div class="flex items-center  gap-3 ">
                <div class="text-white  rounded-lg w-10 h-10  shadow-md flex items-center justify-center"
                    [ngClass]="getBgColor(this.transaction())">
                    <lucide-icon [name]="getTransactionIcon(this.transaction())"></lucide-icon>
                </div>

                <div class="flex flex-col items-start justify-center  gap-1  ">
                    <span class="font-semibold text-gray-900 text-sm truncate">
                        {{ transaction().transactionDescription }}
                    </span>
                    <span class="text-xs text-gray-500 truncate">
                        {{ transaction().transactionCategory }}
                        @if(transaction().transactionNote)
                        {
                        <span> • {{ transaction().transactionNote }}</span>
                        }
                    </span>
                </div>
            </div>
            <!-- Right: Amount + Meta -->
            <div class="flex gap-3">
                <div class="text-right items-center  flex-1 ">
                    <span class="text-base font-bold"
                        [ngClass]="{'text-emerald-600': transaction().transactionTypeMasterId === 1,'text-red-500': transaction().transactionTypeMasterId !== 1}">
                        {{ transaction().transactionTypeMasterId === 1 ? '+' : '-' }}{{
                        transaction().transactionAmount |
                        number:'1.0-0' }}
                    </span>

                    <!-- Date, Payment Mode, and Three Dots Menu -->
                    <div class="flex items-center justify-end gap-1 text-xs text-gray-400 mt-0.5">
                        <span>{{ transaction().transactionDate | date: 'MMM d' }}</span>
                        @if(transaction().transactionPaymentMode) {
                        <span>• {{ transaction().transactionPaymentMode }}</span>
                        }
                        <!-- Three Dots Dropdown Menu -->

                    </div>


                </div>
                <div class="hidden sm:flex items-center justify-center   ">
                    <button>
                        <lucide-icon size="16" class="text-slate-200 hover:text-red-400  transition-colors"
                            [name]="trashIcon"></lucide-icon>
                    </button>
                </div>
            </div>




        </div>
    </div>
</div>