<!-- auth.component.html -->
<div class="min-h-screen flex items-center justify-center p-4 bg-white">
  <div class="w-full max-w-md mx-auto bg-white rounded-lg shadow-md">
    <div class="p-6 space-y-4">
      <div class="text-center">
        <h1 style="
            display: flex;
            justify-content: center;
            font-weight: bold;
            font-size: x-large;
          ">
          Welcome
        </h1>
        <p class="text-gray-500">Login or create an account to continue</p>

      </div>
      <nz-tabs nzCentered>
        <nz-tab nzTitle="Login">
          <form nz-form (ngSubmit)="login()">
            <nz-form-item class="form-item-gap">
              <nz-form-control nzHasFeedback [nzErrorTip]="'Email is required and must be valid'">
                <nz-input-group nzPrefixIcon="user" nzSize="large">
                  <input nz-input [(ngModel)]="loginUser.userEmail" name="userEmail"
                    placeholder="Please enter your email" required email />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item class="form-item-gap">
              <nz-form-control nzHasFeedback [nzErrorTip]="'Please input your Password!'">
                <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate" nzSize="large">
                  <input [type]="showPassword ? 'text' : 'password'" nz-input [(ngModel)]="loginUser.password"
                    placeholder="Password" name="password" required />
                </nz-input-group>
                <ng-template #suffixTemplate>
                  <nz-icon class="ant-input-password-icon" [nzType]="showPassword ? 'eye-invisible' : 'eye'"
                    (click)="showPassword = !showPassword" />
                </ng-template>
              </nz-form-control>
            </nz-form-item>
            <button nz-button class="form-item-gap" nzType="primary" style="width: 100%" [nzLoading]="isLoading">
              @if (isLoading) {
              <span>Logging in...</span>
              } @else {
              <span>Login</span>
              }
            </button>
          </form>
        </nz-tab>
        <nz-tab nzTitle="Sign Up">
          <div class="space-y-4">
            <form (ngSubmit)="signUp()">
              <nz-form-item>
                <nz-form-label [nzSpan]="6">First Name</nz-form-label>
                <nz-form-control [nzSpan]="18" nzHasFeedback [nzErrorTip]="'First Name is required and must be valid'">
                  <nz-input-group nzSize="large">
                    <input nz-input [(ngModel)]="registerUser.firstName" name="firstName"
                      placeholder="Please enter your first name" required />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSpan]="6">Last Name</nz-form-label>
                <nz-form-control [nzSpan]="18" nzHasFeedback [nzErrorTip]="'Last Name is required and must be valid'">
                  <nz-input-group nzSize="large">
                    <input nz-input [(ngModel)]="registerUser.lastName" name="lastName"
                      placeholder="Please enter your last name" required />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSpan]="6">Email</nz-form-label>
                <nz-form-control [nzSpan]="18" nzHasFeedback [nzErrorTip]="'Email is required and must be valid'">
                  <nz-input-group nzSize="large">
                    <input nz-input type="email" [(ngModel)]="registerUser.email" name="email"
                      placeholder="name@example.com" required email />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label [nzSpan]="6">Password</nz-form-label>
                <nz-form-control [nzSpan]="18" nzHasFeedback [nzErrorTip]="'Password is required'">
                  <nz-input-group nzSize="large" [nzSuffix]="passwordIconTemplate">
                    <input nz-input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="registerUser.password"
                      name="password" placeholder="Enter password" required />
                  </nz-input-group>

                  <!-- Password Icon Template -->
                  <ng-template #passwordIconTemplate>
                    <nz-icon class="ant-input-password-icon" [nzType]="showPassword ? 'eye-invisible' : 'eye'"
                      (click)="togglePasswordVisibility()"></nz-icon>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSpan]="6">Confirm Password</nz-form-label>
                <nz-form-control [nzSpan]="18" nzHasFeedback [nzErrorTip]="'Please confirm your password'">
                  <nz-input-group nzSize="large" [nzSuffix]="confirmIconTemplate">
                    <input nz-input [type]="showConfirmPassword ? 'text' : 'password'"
                      [(ngModel)]="registerUser.retype_password" name="retype_password" placeholder="Re-enter password"
                      required />
                  </nz-input-group>

                  <!-- Confirm Password Icon Template -->
                  <ng-template #confirmIconTemplate>
                    <nz-icon class="ant-input-password-icon" [nzType]="showConfirmPassword ? 'eye-invisible' : 'eye'"
                      (click)="toggleConfirmPasswordVisibility()"></nz-icon>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>

              <button nz-button nzType="primary" type="submit" [nzLoading]="isLoading" class="button">
                @if (isLoading) {
                <!-- <lucide-icon [name]="Loader2" class="animate-spin h-4 w-4"></lucide-icon> -->
                <span>Creating Account...</span>
                } @else {
                <span>Create Account</span>
                }
              </button>
            </form>
          </div>
        </nz-tab>
      </nz-tabs>

      <div class="text-sm text-gray-500 text-center">
        By continuing, you agree to our
        <a class="text-black hover:underline">Terms of Service</a> and
        <a class="text-black hover:underline">Privacy Policy</a>.
      </div>
    </div>
  </div>
</div>