<div class="mx-4 md:mx-8 lg:mx-16 xl:mx-24 2xl:mx-32">
  <!-- Top Bar -->
  <div class="mt-4 flex w-full justify-between items-center">
    <h1 class="text-xl sm:text-2xl font-extrabold text-gray-900">Dashboard</h1>
    <button (click)="openPopup()" class="text-white bg-black font-medium rounded-lg text-xs sm:text-sm px-4 sm:px-5 py-2 sm:py-2.5 me-2 mb-2">
      Add Transaction
    </button>
  </div>

  <!-- Popup Form -->
  <app-popup-add-transaction-form
    [isVisible]="showAddTransactionForm()"
    [title]="'Enter Your Details'"
    (closePopup)="onClosePopup()"
    [transactionTypes]="transactionTypes"
    [transactionCategories]="transactionCategories">
  </app-popup-add-transaction-form>

  <hr class="border-slate-100 border-1 mt-2">

  <!-- Total Cards -->
  <div class="mt-4 mb-4">
    <div class="flex flex-col md:flex-row justify-between gap-4">

      <!-- Total Balance Card -->
      @if (transactionSummary?.currentBalance != undefined) {
        <div class="flex flex-col items-start justify-start border border-slate-200 rounded-xl w-full md:w-1/3 py-3 sm:py-4 px-3 sm:px-4 md:px-6">
          <span class="text-xs sm:text-base">Total Balance</span>
          <span class="text-sm sm:text-xl md:text-2xl mt-1 font-bold">{{transactionSummary.currentBalance}}</span>
          <span class="text-[10px] sm:text-xs text-gray-600">{{transactionSummary.balancePercentageChange}}% from last month</span>
        </div>
      } @else {
        <div class="animate-pulse flex flex-col items-start justify-start border border-slate-200 rounded-xl w-full md:w-1/3 py-3 sm:py-4 px-3 sm:px-4 md:px-6">
          <div class="h-4 bg-gray-300 rounded mb-2 w-3/4"></div>
          <div class="h-6 bg-gray-300 rounded mb-2 w-full"></div>
          <div class="h-3 bg-gray-300 rounded w-2/3"></div>
        </div>
      }

      <!-- Total Income Card -->
      @if (transactionSummary?.currentIncome != undefined)  {
        <div class="flex flex-col items-start justify-start border border-slate-200 rounded-xl w-full md:w-1/3 py-3 sm:py-4 px-3 sm:px-4 md:px-6">
          <span class="text-xs sm:text-base">Total Income</span>
          <span class="text-sm sm:text-xl md:text-2xl mt-1 font-bold">{{transactionSummary.currentIncome}}</span>
          <span class="text-[10px] sm:text-xs text-gray-600">{{transactionSummary.incomePercentageChange}}% from last month</span>
        </div>
      } @else {
        <div class="animate-pulse flex flex-col items-start justify-start border border-slate-200 rounded-xl w-full md:w-1/3 py-3 sm:py-4 px-3 sm:px-4 md:px-6">
          <div class="h-4 bg-gray-300 rounded mb-2 w-3/4"></div>
          <div class="h-6 bg-gray-300 rounded mb-2 w-full"></div>
          <div class="h-3 bg-gray-300 rounded w-1/2"></div>
        </div>
      }

      <!-- Total Expense Card --> 
      @if (transactionSummary?.currentExpense != undefined) {
        <div class="flex flex-col items-start justify-start border border-slate-200 rounded-xl w-full md:w-1/3 py-3 sm:py-4 px-3 sm:px-4 md:px-6">
          <span class="text-xs sm:text-base">Total Expense</span>
          <span class="text-sm sm:text-xl md:text-2xl mt-1 font-bold">{{transactionSummary.currentExpense}}</span>
          <span class="text-[10px] sm:text-xs text-gray-600">{{transactionSummary.expensePercentageChange}}% from last month</span>
        </div>
      } @else {
        <div class="animate-pulse flex flex-col items-start justify-start border border-slate-200 rounded-xl w-full md:w-1/3 py-3 sm:py-4 px-3 sm:px-4 md:px-6">
          <div class="h-4 bg-gray-300 rounded mb-2 w-3/4"></div>
          <div class="h-6 bg-gray-300 rounded mb-2 w-full"></div>
          <div class="h-3 bg-gray-300 rounded w-1/2"></div>
        </div>
      }

    </div>
  </div>

  <!-- Tab Navigation -->
  <div class="flex border-b border-gray-200 bg-gray-200 w-full md:w-3/4 lg:w-1/2 xl:w-1/3 mb-4 p-1 rounded-lg">
    <button
      type="button"
      class="flex-1 py-2 px-3 sm:py-2.5 sm:px-4 text-xs sm:text-sm font-medium text-center transition-colors duration-200"
      [ngClass]="{
        'text-black bg-white shadow-sm rounded-sm': isTabActive('overview'),
        'text-gray-500': !isTabActive('overview')
      }"
      (click)="setActiveTab('overview')">
      Overview
    </button>

    <button
      type="button"
      class="flex-1 py-2 px-3 sm:py-2.5 sm:px-4 text-xs sm:text-sm font-medium text-center transition-colors duration-200"
      [ngClass]="{
        'text-black bg-white shadow-sm rounded-sm': isTabActive('analytics'),
        'text-gray-500': !isTabActive('analytics')
      }"
      (click)="setActiveTab('analytics')">
      Analytics
    </button>

    <button
      type="button"
      class="flex-1 py-2 px-3 sm:py-2.5 sm:px-4 text-xs sm:text-sm font-medium text-center transition-colors duration-200"
      [ngClass]="{
        'text-black bg-white shadow-sm rounded-sm': isTabActive('transaction'),
        'text-gray-500': !isTabActive('transaction')
      }"
      (click)="setActiveTab('transaction')">
      Transactions
    </button>

    <button
      type="button"
      class="flex-1 py-2 px-3 sm:py-2.5 sm:px-4 text-xs sm:text-sm font-medium text-center transition-colors duration-200"
      [ngClass]="{
        'text-black bg-white shadow-sm rounded-sm': isTabActive('budget'),
        'text-gray-500': !isTabActive('budget')
      }"
      (click)="setActiveTab('budget')">
      Budgets
    </button>
  </div>

  <!-- Tab Content -->
  <div>
    @if (isTabActive('overview')) {
      <app-overview [userId]="userId"></app-overview>
    } @else if (isTabActive('transaction')) {
      <app-all-transactions [userId]="userId"></app-all-transactions>
    }
  </div>
</div>