<nz-modal [nzVisible]="isVisible()" (nzOnCancel)="close()" (nzOnOk)="transactionForm.ngSubmit.emit()"
  [nzOkText]="isSubmitting ? 'Submitting...' : 'Add Transaction'" [nzOkLoading]="isSubmitting" [nzWidth]="640"
  nzTitle="Add New Transaction" nzWrapClassName="transaction-modal" [nzMaskClosable]="false">

  <!-- The content of the modal, which will become scrollable on mobile -->
  <ng-container *nzModalContent>
    <form nz-form [nzLayout]="'vertical'" #transactionForm="ngForm" (ngSubmit)="onSubmit()">


      <div class="flex justify-between items-center">
        <!-- 1. Type Dropdown -->
        <nz-form-item class="flex-grow mb-0">
          <nz-form-label nzRequired nzRequired class="block text-sm font-medium text-gray-700 mb-1">Type</nz-form-label>
          <nz-form-control nzErrorTip="Type is required.">
            <nz-select [(ngModel)]="transaction.transactionTypeMasterId" name="transactionTypeMasterId" required
              nzPlaceHolder="Select or search for a type" [nzShowSearch]="true"
              (nzOnSearch)="typeSearchTerm.set($event)" [nzDropdownRender]="typeDropdownTpl">
              @for (type of filteredTransactionTypes(); track type.transactionTypeMasterId) {
              <nz-option [nzValue]="type.transactionTypeMasterId" [nzLabel]="type.transactionTypename">
                <div class="flex justify-between items-center w-full">
                  <span>{{ type.transactionTypename }}</span>
                  @if(type.isCustom) {
                  <button nz-button nzType="text" nzSize="small" nzDanger
                    (click)="removeType(type.transactionTypeMasterId); $event.stopPropagation()">
                    <i nz-icon nzType="delete" nzTheme="outline"></i>
                  </button>
                  }
                </div>
              </nz-option>
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>


      <!-- 2. Category Dropdown -->
      <nz-form-item>
        <nz-form-label nzRequired class="block text-sm font-medium text-gray-700 mb-1"
          nzRequired>Category</nz-form-label>
        <nz-form-control nzErrorTip="Category is required.">
          <nz-select [(ngModel)]="transaction.transactionCategoryMasterId" name="transactionCategoryMasterId" required
            nzPlaceHolder="Select or search for a category" [nzShowSearch]="true"
            (nzOnSearch)="categorySearchTerm.set($event)" [nzDropdownRender]="categoryDropdownTpl">
            @for (category of filteredTransactionCategories(); track category.transactionCategoryMasterId) {
            <nz-option [nzValue]="category.transactionCategoryMasterId" [nzLabel]="category.transactionCategoryName">
              <div class="flex justify-between items-center w-full">
                <span>{{ category.transactionCategoryName }}</span>
                @if(category.isCustom) {
                <button nz-button nzType="text" nzSize="small" nzDanger
                  (click)="removeCategory(category.transactionCategoryMasterId); $event.stopPropagation()">
                  <i nz-icon nzType="delete" nzTheme="outline"></i>
                </button>
                }
              </div>
            </nz-option>
            }
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <!-- 3. Description -->
      <nz-form-item>
        <nz-form-label nzRequired class="block text-sm font-medium text-gray-700 mb-1"
          nzRequired>Description</nz-form-label>
        <nz-form-control nzErrorTip="Description is required.">
          <input nz-input [(ngModel)]="transaction.transactionDescription" name="transactionDescription" required
            placeholder="e.g., Grocery Shopping" />
        </nz-form-control>
      </nz-form-item>

      <!-- 4. Amount -->
      <nz-form-item>
        <nz-form-label nzRequired class="block text-sm font-medium text-gray-700 mb-1" nzRequired>Amount</nz-form-label>
        <nz-form-control nzErrorTip="Amount must be greater than 0.">
          <nz-input-number [(ngModel)]="transaction.transactionAmount" name="transactionAmount" required [nzMin]="0.01"
            [nzStep]="0.01" [nzPlaceHolder]="'0.00'" class="w-full" />
        </nz-form-control>
      </nz-form-item>

      <!-- 5. Payment Mode Dropdown -->
      <nz-form-item>
        <nz-form-label nzRequired class="block text-sm font-medium text-gray-700 mb-1" nzRequired>Payment
          Mode</nz-form-label>
        <nz-form-control nzErrorTip="Payment mode is required.">
          <nz-select [(ngModel)]="transaction.transactionPaymentModeId" name="paymentModeId" required
            nzPlaceHolder="Select or search for a mode" [nzShowSearch]="true"
            (nzOnSearch)="payementModeSearchTerm.set($event)" [nzDropdownRender]="modeDropdownTpl">
            @for (mode of filteredTransactionPaymentMode(); track mode.paymentModeId) {
            <nz-option [nzValue]="mode.paymentModeId" [nzLabel]="mode.paymentMode">
              <div class="flex justify-between items-center w-full">
                <span>{{ mode.paymentMode }}</span>
                @if(mode.isCustom) {
                <button nz-button nzType="text" nzSize="small" nzDanger
                  (click)="removePaymentMode(mode.paymentModeId ?? 0); $event.stopPropagation()">
                  <i nz-icon nzType="delete" nzTheme="outline"></i>
                </button>
                }
              </div>
            </nz-option>
            }
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <!-- 6. Date Picker -->
      <nz-form-item>
        <nz-form-label nzRequired class="block text-sm font-medium text-gray-700 mb-1" nzRequired>Date</nz-form-label>
        <nz-form-control nzErrorTip="Date is required.">
          <nz-date-picker [(ngModel)]="transaction.transactionDate" name="transactionDate" required class="w-full">
          </nz-date-picker>
        </nz-form-control>
      </nz-form-item>



      <!-- 7. Notes Textarea (Optional) -->
      <div class="flex flex-col gap-2">
        <nz-form-item>

          <nz-form-label nzRequired class="text-sm font-medium text-gray-700 mb-1">Notes</nz-form-label>
          <nz-form-control>
            <textarea nz-input [(ngModel)]="transaction.transactionNote" name="transactionNote"
              [nzAutosize]="{ minRows: 3, maxRows: 5 }"
              placeholder="Any additional notes about this transaction..."></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>

    </form>
  </ng-container>

  <ng-template #modalTitle>
    <div class="flex flex-col">
      <span class="text-xl font-bold text-gray-800">Add New Transaction</span>
      <span class="text-sm text-gray-500">Enter the details of your transaction</span>
    </div>
  </ng-template>
</nz-modal>

<!-- ============================================================== -->
<!-- TEMPLATES FOR CUSTOM DROPDOWN FOOTERS ("ADD NEW" FUNCTIONALITY) -->
<!-- ============================================================== -->

<ng-template #typeDropdownTpl>
  @if (!filteredTransactionTypes().length && typeSearchTerm()) {
  <nz-divider class="my-1"></nz-divider>
  <div class="flex justify-between items-center p-2">
    <span class="text-gray-500 text-sm">Add "{{ typeSearchTerm() }}"</span>
    <button nz-button nzType="primary" nzSize="small" (click)="addNewType()">Add</button>
  </div>
  }
</ng-template>

<ng-template #categoryDropdownTpl>
  @if (!filteredTransactionCategories().length && categorySearchTerm()) {
  <nz-divider class="my-1"></nz-divider>
  <div class="flex justify-between items-center p-2">
    <span class="text-gray-500 text-sm">Add "{{ categorySearchTerm() }}"</span>
    <button nz-button nzType="primary" nzSize="small" (click)="addNewCategory()">Add</button>
  </div>
  }
</ng-template>

<ng-template #modeDropdownTpl>
  @if (!filteredTransactionPaymentMode().length && payementModeSearchTerm()) {
  <nz-divider class="my-1"></nz-divider>
  <div class="flex justify-between items-center p-2">
    <span class="text-gray-500 text-sm">Add "{{ payementModeSearchTerm() }}"</span>
    <button nz-button nzType="primary" nzSize="small" (click)="addPaymentMode()">Add</button>
  </div>
  }
</ng-template>